@model eManager.Domain.Game

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Venue</h2>

@Html.ActionLink("Create a team","Create","Team", new {GameId = @Model.Id}, null)

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>Name</th>
    </tr>
@foreach (var team in Model.Teams)
{
    <tr><td>
    @team.Name
    </td>
    <td>
    </td></tr>
}
</table>
